altgraph==0.17.2
cffi==1.15.0
dice==3.1.2
docopt==0.6.2
numpy==1.21.4
pycparser==2.21
PyInstaller==4.7
pyparsing==3.0.6
six==1.16.0
tcod==13.1.0
setuptools==59.4.0
PyYAML==6.0
tracery==0.1.1
pygame==2.0.0